---
import { type Person } from "../scripts/person"

interface Props {
	person: Person;
}

const { person } = Astro.props;
---

<div>
    <img src={person.portrait_url} alt={person.name}>
    <span>{person.alias}</span>
</div>
<style>
    div {
        width: 200px;

        border-radius: 15px;
        border: 2px solid gray;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;

        border-radius: 13px 13px 0 0;
        object-fit: cover;
    }

    span {
        width: 100%;
        padding: .5em;

        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
    }
</style>